
<br>
<br>
<br>
<div class="welcome">
  <div id='bars'>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
  </div>
  <div class="mainwelcome">
    <% if !current_user %>
      <h2>Welcome to setlist</h2>
    <% else %>
      <h2>Welcome back, <%= current_user.email %> </h2>
    <% end %>
  </div>
</div>
