<div class="artistpage" id="showsindex">

<h3>All Shows</h3>
<br>
<% @shows.each do |show| %>
<p>
  <%= link_to show.title, album_show_path(@shows.id), class: "link", id: "artistlisting" %>
</p>
<% end %>
</div>
