<!DOCTYPE html>
<html>
  <head>
    <title>Livealbum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Poiret+One|Quicksand|Unica+One" rel="stylesheet">
  </head>

  <body>
    <a href="/"><h1>LiveAlbum</h1></a>
    <h2>listen. watch. live.</h2>
    <%= yield %>
  </body>
  
</html>
